
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer1</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer3</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer4</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer5</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>   
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer6</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>  
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer7</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>  
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer8</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>  
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer9</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>   
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer10</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>    
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer10</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>  
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer10</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>  
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer10</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>  
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer10</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>  
        <div class="col-12">
            <div class="layer-group">
                <input type="checkbox"> 
                <label for="">Layer10</label> 
                <input type="range" min="0" max="1" step=".05" value=".5">
            </div>
        </div>                                               
    </div>
</div>                
